---
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About | Diego Cuevas"
  description="About Diego Cuevas background"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Hello, I'm Diego"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="800"
          src="/assets/Profile-photo.jpeg"
          alt="Diego Cuevas profile photo"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a Frontend Developer focused on building modern, fast and
            scalable interfaces using React, Next.js, Astro and TypeScript.
          </p>
          <p>
            I am passionate about transforming designs into functional, and
            efficient web experiences, taking care of both performance and user
            experience. I have experience developing applications that consume
            APIs and manage data dynamically, integrating solutions with
            Node.js.
          </p>
          <p>
            I work with technologies such as React, Next.js, Javascript, Astro,
            Typescript and Tailwind CSS, and I have knowledge of backend
            development with Node.js, Express and databases such as MongoDB and
            PostgreSQL.
          </p>
          <p>
            My focus is on writing clean, reusable and maintainable code,
            applying good practices and constantly improving my skills as a
            developer.
          </p>
          <p>
            As a telecomunications Engineer, I brind a solid technical
            foundation, analytical thinking and the ability to solve problems in
            a structured way.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Telecommunications Engineer.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>TypeScript</li>
            <li>React</li>
            <li>Next.js</li>
            <li>Astro</li>
            <li>TailwindCSS</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>PostgreSQL</li>
            <li>Prisma</li>
            <li>Socket.io</li>
            <li>Zustand</li>
            <li>NextAuth</li>
            <li>JWT Authentication</li>
            <li>GitHub OAuth</li>
            <li>Zod</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
